

.f1 {
	width: 700px;
	height: 500px;
	background-color:  #2F476C;
}

.b1 {
	width: 70px;
	height: 40px;
	border-radius: 14px 16px;
}

.d1 {
	margin-left: 300px;
	margin-bottom: 100px;
}

.img {
	width: 280px;
	height: 400px;
	margin-right: 300px;
	margin-bottom: ;
}